<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <header th:replace="fragments :: header"></header>

    <div class="row">
        <div class="col-md-9">

            <div class="row">
                <div class="col-md-6">
                    <form th:action="@{${'/user/' + dto.username}}" method="post">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" th:field="${dto.searchTerm}" placeholder="Search Watchlist">
                            <input type="hidden" th:field="${dto.username}">
                            <input type="hidden" th:field="${dto.url}">
                            <input type="hidden" th:field="${dto.upcoming}">
<!--                            <input type="hidden" th:field="${dto.movies}">-->
<!--                            <input type="hidden" th:field="${dto.pages}">-->
<!--                            <input type="hidden" th:field="${dto.firstElement}">-->
<!--                            <input type="hidden" th:field="${dto.movieCount}">-->
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Sort By...</label>
                            </div>
                            <select class="custom-select" th:field="${dto.sortOption}">
                                <option value="title">Title</option>
                                <option value="titleDesc">Title - Descending</option>
                                <option value="sortByDate">Release Date</option>
                                <option value="sortByDateDesc">Release Date - Descending</option>
                                <option value="dateAdded">Date Added - Oldest</option>
                                <option value="dateAddedDesc">Date Added - Newest</option>
                            </select>
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-primary" value="Sort" />
                            </div>
                        </div>
<!--                        <ul class="pager">-->
<!--                            <li th:if="${dto.currentPage > 0}"><button class="btn btn-primary" name="page" th:value="${dto.currentPage -1}">Previous</button></li>-->
<!--                            <li th:if="${dto.currentPage < dto.pages - 1}"><button class="btn btn-primary" name="page" th:value="${dto.currentPage + 1}">Next</button></li>-->
<!--                        </ul>-->
                    </form>
                    <form th:fragment="pager" th:action="@{${'/user/' + dto.username}}" method="post">
                        <input type="hidden" th:field="${dto.searchTerm}">
                        <input type="hidden" th:field="${dto.sortOption}">
                        <input type="hidden" th:field="${dto.username}">
                        <input type="hidden" th:field="${dto.url}">
                        <input type="hidden" th:field="${dto.upcoming}">
                        <nav th:replace="fragments :: pager"></nav>
                    </form>

                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                </div>

            </div>

            <th:block th:replace="fragments :: movielist"></th:block>
            <hr />
            <form th:fragment="pager" th:action="@{${'/user/' + dto.username}}" method="post">
                <input type="hidden" th:field="${dto.searchTerm}">
                <input type="hidden" th:field="${dto.sortOption}">
                <input type="hidden" th:field="${dto.username}">
                <input type="hidden" th:field="${dto.url}">
                <input type="hidden" th:field="${dto.upcoming}">
                <nav th:replace="fragments :: pager"></nav>
            </form>


        </div>
        <div class="col-md-3" style="background-color: black;">
            <div th:replace="fragments :: userInfo"></div>
            <hr />
            <div th:replace="fragments :: upcoming"></div>
        </div>

    </div>
</div>
<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>