<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Watchlist</title>

    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css" rel="stylesheet" integrity="sha384-rCA2D+D9QXuP2TomtQwd+uP50EHjpafN+wruul0sXZzX/Da7Txn4tB9aLMZV4DZm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link href="/css/styles.css" rel="stylesheet" type="text/css" >

</head>
<body>

<header th:fragment="header">
    <h3 th:text="${title}"></h3>
</header>

<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark navbar-inverse sticky-top">
    <a class="navbar-brand" th:href="@{/}">Watchlist</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/search}">Search TMDb.org</a>
            </li>
            <li th:if="${user != null}" class="nav-item">
                <div class="dropdown show">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        My Watchlist
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" th:href="@{/user/{username}(username=${user.username})}">View Watchlist</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/watchlist/fullUpdate}">Update Watchlist</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarText">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div th:if="${user != null}" class="navbar-nav">
                <a class="nav-item nav-link" th:href="@{/user/manage}"><span th:text="${'Hello, ' + user.username + '!'}"></span></a>
                <a class="nav-item nav-link" th:href="@{/logout}">Logout</a>
            </div>
            <div th:unless="${user != null}" class="navbar-nav">
<!--                <a class="nav-item nav-link" th:href="@{/register}">Register</a>-->
<!--                <a class="nav-item nav-link" th:href="@{/login}">Login</a>-->
                <div class="dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login or Register
                    </a>

                    <div th:replace="fragments :: loginDD"></div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div th:fragment="errors">
    <p th:each="error : ${errorMessages}" th:text="${error}" style="color : red"></p>
</div>

<div th:fragment="messages" class="container-fluid">
    <div th:if="${message != null}"
         th:with="parts=${#strings.arraySplit(message, '|')}"
         th:attr="class=${'alert alert-dismissible alert-' + parts[0]}"
         role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div th:text="${parts[1]}"></div>
    </div>
</div>

<th:block th:fragment="movielist" th:if="${dto.movies != null}">
    <hr>
    <div th:replace="fragments :: errors"></div>
    <p th:text="${'Showing results ' + dto.firstElement + ' - ' + (dto.firstElement + dto.movies.size() - 1) + ' of ' + dto.movieCount}"></p>
    <div class="row">
        <table class="table table-striped table-hover search-results">
            <tr th:each="movie : ${dto.movies}">
                <td class="search-results-poster">
                    <img th:src="${movie.posterPath != null ? dto.url + movie.posterPath :'/images/filmposterdefault.jpg'}" alt />
                </td>
                <td>
                    <a th:if="${!dto.isUserList()}" th:href="@{/movie/tmdb/{id}(id=${movie.id})}"><H4 th:text="${movie.title + ' ' + movie.releaseDate}"></H4></a>
                    <a th:unless="${!dto.isUserList()}" th:href="@{/movie/{id}(id=${movie.id})}"><H4 th:text="${movie.title + ' ' + movie.releaseYear}"></H4></a>
<!--                    <em th:if="${movie.crew != null and !movie.crew.isEmpty()}">Directed by <th:block th:each="crew : ${movie.crew}">-->
<!--                        <span th:text="${crewStat.last ? crew.name : crew.name + ', '}"></span>-->
<!--                    </em>-->
                    <p th:text="${#strings.abbreviate(movie.overview,200)}"></p>
                </td>
                <td>
                    <th:block th:if="${user != null}">
                            <a th:if="${!dto.isUserList()}" class="btn btn-primary table-button" th:href="@{/watchlist/add(id=${movie.id})}">Add to Watchlist</a>
                            <th:block th:if="${dto.isUserList() and user.id == movie.user.id}">
<!--                                TODO - Make these Post Requests instead -->
                                <a  class="btn btn-danger table-button" th:href="@{/watchlist/remove(id=${movie.id})}" onclick="return confirm('Confirm: You are about to remove this title from your list.')">Remove from Watchlist</a>
                                <a  class="btn btn-primary table-button down-1rem" th:href="@{/watchlist/update(id=${movie.id})}">Update Movie</a>
                            </th:block>
                    </th:block>

                </td>
            </tr>
        </table>
    </div>
</th:block>

<div th:fragment="mainMovieInfo" class="col-md-10 main-film-top-margin">
    <div class="row">
        <div class="col-md-4 poster">
            <div class="center-block">
                <img th:src="${movie.posterPath != null ? url + movie.posterPath :'/images/filmposterdefault.jpg'}" class="img-fluid" alt/>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row main-film-info margin-right-offset" style="border-bottom:3px groove gray">
                <div class="col-md-8">
                    <h1>
                        <span style="color: ghostwhite;" th:text="${movie.title}"></span> <small th:text="${isUserMovie? movie.releaseYear : movie.releaseDate}"></small>
                    </h1>
                </div>
                <div class="col-md-4">
                    <div th:if="${isUserMovie and user.id == movie.user.id}" class="row">
<!--                        TODO - Make these Post requests?-->
                        <a class="btn btn-danger col-md-12" th:href="@{/watchlist/remove(id=${movie.id})}" onclick="return confirm('Confirm: You are about to remove this title from your list.')">Remove From Watchlist</a>
                        <a  class="btn btn-primary col-md-12 down-1rem" th:href="@{/watchlist/update(id=${movie.id})}">Update Movie</a>
                    </div>
                    <div th:unless="${isUserMovie and user.id == movie.user.id}" class="row">
<!--                        TODO - Make these Post requets?-->
                        <a th:if="${!isUserMovie}" class="btn btn-primary" th:href="@{/watchlist/add(id=${movie.id})}">Add To Watchlist</a>
                        <a th:if="${isUserMovie and user.id != movie.user.id}" class="btn btn-primary" th:href="@{/watchlist/add(id=${movie.tmdbId})}">Add To Watchlist</a>
                    </div>
                </div>
            </div>
            <div th:if="${!movie.overview.isEmpty()}" class="row main-film-info">
                <h2>Synopsis</h2>
                <p th:text="${movie.overview}"></p>
                <br />
            </div>
            <div th:if="${movie.cast != null && movie.cast.size() > 0}" class="row main-film-info">
                <h2>Top Cast Members</h2>
            </div>
            <div class="row">
                <div th:each="castMember : ${movie.cast}" th:if="${castMemberStat.index < 10}" class="col-md-4 cast-display">
                    <a th:if="${!isUserMovie}" th:href="@{${'/person/view/' + castMember.tmdbId}}" th:text="${castMember.name}"></a>
                    <a th:unless="${!isUserMovie}" th:href="@{${'/person/view/' + castMember.tmdbId}}" th:text="${castMember.name}"></a>
                </div>
            </div>
            <div th:if="${comments != null}" class="row main-film-info">
                <h2 th:text="${'Comments from ' + user.username}"></h2>
                <p th:text="${movie.getComments()}"></p>
            </div>
        </div>
    </div>
    <br />
    <div th:if="${trailerUrl != null}" class="row embed-responsive embed-responsive-16by9 margin-right-offset">
        <iframe class="embed-responsive-item" th:src="${trailerUrl}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

<div th:fragment="secondaryInfo" class="col-md-2 extra-film-info">
    <div th:replace="fragments :: userInfo"></div>
    <hr />
    <div class="film-stats">
        <div class="row">
            <b>Directed By:</b>
            <th:block th:if="${isUserMovie}">
                <a th:each="director : ${movie.directors}" th:href="@{${'/search/director/' + director.tmdbId}}" th:text="${director.name}"></a>
            </th:block>
            <th:block th:unless="${isUserMovie}">
                <a th:each="crew : ${movie.crew}" th:href="@{${'/search/director/' + crew.id}}" th:text="${crew.name}"></a>
            </th:block>
        </div>
        <div class="row">
            <b>Runtime:</b>
            <p th:text="${movie.runtime == 0 ? ' unknown' : movie.runtime + ' min.'}"></p>
        </div>
        <div class="row" th:if="${movie.genres != null and !movie.genres.isEmpty()}" >
            <h6 class="w-100">Genres:</h6>
            <ul>
                <li th:each="genre : ${movie.genres}" th:text="${genre.name}"></li>
            </ul>
        </div>
    </div>
</div>

<div th:fragment="userInfo">
    <div class="row profilePicture">
        <img class="img-fluid rounded mx-auto d-block" id="profile-picture" src="../static/images/profilepictures/defaultProfilePicture.png" th:src="@{${'/images/profilepictures/' + user.profilePicturePath}}">
    </div>
    <H4 class="center-text" th:text="${user.username}"></H4>
    <div class="row center-text" id="user-links">
        <a th:href="@{${'/user/' + user.username}}">Watchlist</a>
    </div>
</div>

<div th:fragment="upcoming">
    <h4 class="center-text">Coming Soon</h4>
    <table class="table-list">
        <colgroup>
            <col>
            <col style="width:80px">
        </colgroup>
        <tr>
            <th>Title</th>
            <th>Release</th>
        </tr>
        <tr th:each="movie : ${dto.upcoming}">
            <td><a th:if="${!dto.isUserList()}" th:href="@{${'/movie/tmdb/' + movie.id}}" th:text="${movie.title}"></a>
                <a th:unless="${!dto.isUserList()}" th:href="@{${'/movie/' + movie.id}}" th:text="${movie.title}"></a>
            </td>
            <td th:text="${movie.releaseDate}"></td>
        </tr>
    </table>
</div>

<div th:fragment="personInfo" class="col-md-2 extra-film-info">
    <div th:replace="fragments :: userInfo"></div>
    <hr />
    <div class="film-stats">
        <div th:if="${dto.cast != null}" class="row">
            <p th:if="${dto.cast.birthday != null}" th:text="${'Birthday: ' + dto.cast.birthday}"></p>
            <p th:if="${dto.cast.placeOfBirth != null}" th:text="${dto.cast.placeOfBirth}"></p>
            <p th:if="${dto.cast.deathday != null}" th:text="${dto.cast.deathday}"></p>
        </div>

    </div>

</div>

<nav th:fragment="pager">
    <input type="hidden" th:field="${dto.searchOption}">
    <input type="hidden" th:field="${dto.searchTerm}">
    <input type="hidden" th:field="${dto.sortOption}">
    <input type="hidden" th:field="${dto.username}">
    <input type="hidden" th:field="${dto.url}">
    <input type="hidden" th:field="${dto.upcoming}">
    <input type="hidden" th:field="${dto.previousSize}">
    <label class="page-size-select">Results Per Page: </label>
    <select name="size" onchange="this.form.submit()">
        <option th:each="pageSize : ${dto.pageSizes}" th:value="${pageSize.size}" th:text="${pageSize.size}" th:selected="${dto.previousSize == pageSize.size}"></option>
    </select>
    <ul class="pagination">
        <li  th:if="${dto.currentPage > 1}" class="page-item">
            <button class="page-link" name="page" value="0">First</button>
        </li>
        <li th:if="${dto.currentPage > 0}" class="page-item">
            <button class="page-link" name="page" th:value="${dto.currentPage - 1}">Prev</button>
        </li>
        <li th:if="${dto.pages > 1}" th:each="page : ${dto.pageNumbers}" class="page-item" th:classappend="${page == dto.currentPage} ? active : ''">
            <button class="page-link"  name="page" th:value="${page}" th:text="${page + 1}"></button>
        </li>
        <li th:if="${dto.currentPage < dto.pages -1}" class="page-item">
            <button class="page-link" name="page" th:value="${dto.currentPage + 1}">Next</button>
        </li>
        <li th:if="${dto.pages > 1 and dto.currentPage < dto.pages - 2}" class="page-item">
            <button class="page-link" name="page" th:value="${dto.pages - 1}">Last</button>
        </li>
    </ul>

</nav>

<th:block th:fragment="scripts">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</th:block>

<div th:fragment="loginDD" class="dropdown-menu">
    <form th:action="@{/login}" method="post" class="px-4 py-3">
        <div class="form-group">
            <label for="exampleDropdownFormEmail1">Username</label>
            <input type="text" name="username" class="form-control" id="exampleDropdownFormEmail1" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" name="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck" name="remember-me">
            <label class="form-check-label" for="dropdownCheck">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" th:href="@{/register}">New around here? Sign up</a>
</div>

</body>
</html>