<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <header th:replace="fragments :: header"></header>
    <div class="row movie-index-background">
        <div class="col-md-9 movie-index-left-background">
            <div class="row">
                <div class="jumbotron" id="site-description-jumbo">
                    <div class="row">
                        <p>Keep track of movies you want to see and all of their important details.</p>
                        <p>***PLACEHOLDER*** Search your collection and others for titles matching your criteria.  Filters for media type, audio format, and genre, etc. make finding the right movie a breeze.</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 search-box">
                            <form th:action="@{/search}" method="post">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="searchTerm" placeholder="Search TMDb.org">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                            <form th:action="@{/user/index}" method="post">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" name="username" placeholder="Search Users">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <p>Search and Sort your watchlist and never have to worry about forgetting that movie you want to see!</p>
                        <div th:if="${user == null}">
                            <a asp-controller="Account" th:href="@{/register}">Sign Up</a> and start your collection today!<br /><br />
                            Already have an account? <a th:href="@{Login}"> Login Here </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 main-index-list">
            <div>
                <h4 class="center-text">Now Playing</h4>
                <table class="table-list">
                    <colgroup>
                        <col>
                        <col style="width:80px">
                    </colgroup>
                    <tr>
                        <th>Title</th>
                        <th>Release</th>
                    </tr>
                    <tr th:each="movie : ${dto.nowPlaying}">
                        <td><a th:href="@{${'/movie/tmdb/' + movie.id}}" th:text="${movie.title}"></a>
                        </td>
                        <td th:text="${movie.releaseDate}"></td>
                    </tr>
                </table>
            </div>
            <hr />
            <div th:replace="fragments :: upcoming"></div>
        </div>

    </div>

</div>
<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>