<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">



<nav th:replace="fragments :: navbar"></nav>
<div class="container">
    <header th:replace="fragments :: header"></header>
    <p th:if="${user}"><span th:text="${'Welcome, ' + user.getUsername() + '! '}">Welcome!</span></p>
    <div th:unless="${user}">
        <p><a href="/login">Login to your account.</a></p>
        <p>Don't have an account? <a href="/register">Register for one.</a></p>
    </div>
</div>
<th:block th:replace="fragments :: scripts"></th:block>
</body>
</html>